body,html,h1,input,p,span{
	padding: 0;
	margin: 0;
	width:100%;
	height: 100%;
	overflow: hidden;
}
*{
	box-sizing: border-box;
}
.icon-fanhui{
	font-size: 0.5rem;
	
}
.beijing{
	width: 100%;
	height: 100%;
	background: #FFEFD8;
	position: relative;
}
.imgbox{
	width: 6rem;
	height: 10rem;
	background: #fff;
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	margin: auto;
	transform: rotateZ(20deg);
}
.caipbox{
	transform: rotateZ(-20deg);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;bottom: 0;right: 0;left: 0;
	margin: auto;
	margin-top: 1rem;
	margin-left: 0.3rem;
}
.img{
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/sy6.jpg) no-repeat center;
	background-size: cover;
	margin: 0 auto ;
	margin-top:0.2rem ;
	margin-bottom: 0.2rem;
}
.imgbox p{
	display: block;
	width: 4rem;
	font-size: 0.25rem;
	line-height: 1.5;
	height: auto;
	margin-top: 0.2rem;
	margin: 0 auto;
}
